@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, monospace;
  font-size: 35px;
}

body {
  height: 100vh;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  display: block;
  margin: 0 0.5rem;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 375px;
  background-color: #000;
  border-radius: 1.5rem;
  gap: 0.25rem;
  padding: 0.5rem 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5), 0 1.5px 0 #222 inset;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: 100%;
  width: 100%;
  height: 200px;
  padding: 0 20px;
  color: white;
  font-size: 85px;
  font-weight: 100;
}

.ac,
.plus-minus,
.modulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: #bdbdbd;
  color: black;
}

.operator,
.plus-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: #f39109;
  color: white;
}

.operator:active {
  background-color: white;
  color: #f39109;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: #2f2f2f;
  color: white;
}

.number:active {
  background-color: #686868;
}

.period {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-radius: 50%;
  background-color: #353535;
  color: white;
}

.zero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 170px;
  padding-left: 30px;
  border-radius: 50px;
  background-color: #353535;
  color: white;
}
